* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    padding-left: 24px;
    padding-top: 5px;
    text-align: center;
    /* justify-content: flex-start; */
    /* background-color: red; */
}

body {
    font-family: Arial, sans-serif;
}

.colmar-logo-container {
    display: flex;
    align-items: center;
}

.colmar-logo-container img {
    margin-right: 2px;
}
.colmar {
    color: black;
}

.academy {
    color: lightgray;
}

.colmar-header-container {
    height: 64px;
}

.colmar-nav {
    height: 50px;
    width: 98%;
    position: fixed;
    display: flex;
    padding-right: 24px;
    justify-content: flex-end;
    align-items: center;
}

.colmar-navbar {
    display: flex;
    align-items: center;
}

.colmar-navbar-list {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style: none;
}

.hero {
    background-color: lightgray;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 40px;
    display: flex;
    width: 100%;
}
.hero-container {
    display: flex;
}

.hero-container img {
    width: 60%;
}

.hero-content {
    padding-left: 24px;
    padding-right: 60px;
    color: #4e5053;
}
.hero-content h2 {
    font-size: 60px;
    padding-top: 50px;
    display: flex;
}

.hero-content p {
    padding-top: 20px;
}

.hero-button-container {
    padding-top: 20px;
}

.hero-button {
    width: 88%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #4e5053;
    color: white; 
}

.information {
    display: flex;
}

.information-container{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 40px;
    display: flex;
}

.information-container img {
    width: 60%;
}

.information-main-left {
    flex-direction: row; /* Added to stack the content vertically */
    justify-content: left;
}

.information-main-left h2 {
    padding-top: 32px;
    padding-bottom: 24px;
}

/* .information-main-left {
    width: 60%;
    display: flex;
    justify-content: left;
} */

.author-paragraph {
    margin-top: 32px; /* Adjust the margin as needed */
}

.information-small-container {
    background-color: aqua;
    width: 40%;
}

.info-orientation {
    background-color: red;
}

.info-campus {
    background-color: pink;
}

.info-lecture {
    background-color: orange;
}